html, body {
    background-color: #334155;
    margin: 0;
    height: 100%;
    overflow: hidden;
    text-align:center;
    font-size: 16px;
    font-family:'Courier New', Courier, monospace;
    line-height: 1.6;
    text-align: justify;
    overflow-y:scroll;
  }

  #game {
    font-size:80pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  #info {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  #name {
    line-height: 2em;
    font-size:20pt;
    width:400px;
    text-align:center;
    margin:auto;
  }

  #play {
    width: 150px;
    height: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#334155;
    font-size: 15pt;
    background-color:rgb(255, 225, 116);
    margin:auto;
  }

  #understood {
    width: 150px;
    height: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#334155;
    font-size: 15pt;
    background-color:rgb(255, 225, 116);
    text-align: center;
  }

  #music {
    width: 100px;
    height: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#334155;
    font-size: 12pt;
    background-color:rgb(255, 225, 116);
    text-align: center;
    vertical-align:text-bottom;
  }

  #playagain {
    width: 100px;
    height: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#334155;
    font-size: 12pt;
    background-color:rgb(255, 225, 116);
    text-align: center;
    vertical-align:text-bottom;
  }
  
  h1 {
    font-size:70px;
    color: rgb(255, 225, 116);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
  }

  h2 {
    font-size:40px;
    color: #f9a8d4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
  }
  
  h3 {
    font-size:40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #334155;
    text-align: center;
  }

  .rules {
    height: 550px;
    margin:auto;
    width: 500px;
    border-top: 20px solid #89cff0;
    border-right: 80px solid #89cff0;
    border-left: 80px solid #89cff0;
    border-bottom: 80px solid #89cff0;
    text-align: left;
    background-color: #89cff0;    
  }

  .welcome {
    text-align:center;
  }
  
  .flexbox {
    display: flex;
    flex-wrap: row;
    justify-content: center;
    margin:-20px;
  }

  .flagcount {
    width:300px;
    height: 75px;
    background-color: black;
    border: 1px solid white;
    margin-left: 10px;
    padding: 20px;
    font-size: 40px;
    align-self: center;
    text-align: center;
    color: rgb(255, 225, 116);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  #count {
    font-size: 40px;
    color: #f9a8d4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
  }

  .settings {
    width:260px;
    height: 365px;
    background-color: black;
    border: 1px solid white;
    margin-top: 10px;
    margin-left: 10px;
    padding: 40px;
    font-size: 40px;
    align-self: center;
    text-align: left;
    color: rgb(255, 225, 116);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  #timer {
    font-size: 40px;
    color: #f9a8d4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
  }

  #table TR TD {
    border:1px solid white;
    width:30px;
    height:30px;
    color:black;
    text-align: center;
    font-weight: bold;
  }

  #table TR TD.black {
    background-color: black;
  }

  #table TR TD.explosive {
    background-color: red;
  }

  #table TR TD.changecolor {
    background-color: green;
  }

  #table TR TD.suspectbomb {
    background-color: orange;
  }

  #documents {
    margin: 100px;
    text-align: left;
    font-size: 30px;
  }
