html, body {
    background-image: url("resources/space3.jpeg");
    background-size:cover;
    margin: 0;
    height: 100%;
    overflow: hidden;
    text-align:center;
    font-size: 16px;
    font-family:'Courier New', Courier, monospace;
    line-height: 1.6;
    text-align: justify;
    overflow-y:scroll;
  }

  #game {
    font-size:80pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  #info {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  #name {
    line-height: 2em;
    font-size:20pt;
    width:400px;
    text-align:center;
    margin:auto;
  }

  #play {
    width: 150px;
    height: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#334155;
    font-size: 15pt;
    background-color:rgb(208, 226, 253);
    margin:auto;
  }

  #understood {
    width: 150px;
    height: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#334155;
    font-size: 15pt;
    background-color:rgb(208, 226, 253);
    text-align: center;
  }

  #music {
    width: 100px;
    height: 47px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#334155;
    font-size: 12pt;
    background-color:rgb(208, 226, 253);
    text-align: center;
    vertical-align:text-bottom;
  }

  #playagain {
    width: 100px;
    height: 47px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#334155;
    font-size: 12pt;
    background-color:rgb(208, 226, 253);
    text-align: center;
    vertical-align:text-bottom;
  }

  #changeLeisure {
    width: 100px;
    height: 47px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#334155;
    font-size: 12pt;
    background-color:rgb(208, 226, 253);
    text-align: center;
    vertical-align:text-bottom;
  }

  #changeCompetitive {
    width: 100px;
    height: 47px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#334155;
    font-size: 12pt;
    background-color:rgb(208, 226, 253);
    text-align: center;
    vertical-align:text-bottom;
  }
  
  .mode {
    text-align: center;
    margin:60px;
  }

  #gamemode {
    margin-top:150px;
  }

  #competitivemode {
    width: 300px;
    height: 400px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#334155;
    font-size: 25pt;
    background-color:rgb(208, 226, 253);
    text-align: center;
    vertical-align:text-bottom;
    margin-right:30px;
  }

  #leisuremode {
    width: 300px;
    height: 400px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#334155;
    font-size: 25pt;
    background-color:rgb(208, 226, 253);
    text-align: center;
    vertical-align:text-bottom;
    margin-left:30px;
  }

  h1 {
    font-size:70px;
    color: rgb(250, 230, 160);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
  }

  h2 {
    font-size:40px;
    color: rgb(237, 217, 250);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
  }
  
  h3 {
    font-size:38px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #334155;
    text-align: center;
  }

  h4 {
    font-size:40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(240, 224, 251);
    text-align: center;
    line-height: 0px;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .rules {
    font-size:18px;
    height: 580px;
    margin:auto;
    width: 500px;
    padding-top:50px;
    padding-left:80px;
    padding-right:80px;
    padding-bottom:80px;
    text-align: left;
    background-color: rgba(240, 224, 251, 0.7);  
  }

  .welcome {
    text-align:center;
  }
  
  .flexbox {
    display: flex;
    flex-wrap: row;
    justify-content: center;
    margin:-20px;
  }

  .flexdocuments {
    display: flex;
    justify-content: right;
  }

  .flexdocuments > div {
    background-color: white;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .flagcount {
    width:380px;
    height: 75px;
    background-color:rgba(51, 65, 85, 0.6);
    border: 2px solid white;
    margin-left: 10px;
    padding: 20px;
    font-size: 40px;
    align-self: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  #count {
    font-size: 40px;
    color: rgb(240, 224, 251);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
  }

  .settings {
    width:340px;
    height: 365px;
    background-color:rgba(51, 65, 85, 0.6);
    border: 2px solid white;
    margin-top: 10px;
    margin-left: 10px;
    padding: 40px;
    font-size: 30px;
    line-height: 65px;
    align-self: center;
    text-align: left;
    color: rgb(240, 224, 251);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  #timer {
    font-size: 30px;
    color: rgb(237, 217, 250);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
  }

  #table TR TD {
    border:1px solid white;
    width:30px;
    height:30px;
    color:black;
    text-align: center;
    font-weight: bold;
  }

  #table TR TD.black {
    background-color: black;
  }

  #table TR TD.explosive {
    background-color: red;
  }

  #table TR TD.changecolor {
    background-color: green;
  }

  #documents {
    color:white;
    margin: 100px;
    text-align: left;
    font-size: 30px;
  }

  #character {
    font-size: 60px;
    position: absolute;
    transform: translate(-50%,-50%);
  }
